<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.architecture.light">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.sunmi.idcard.permission.ACCESS_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme"
        tools:targetApi="31">

        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <activity
            android:name=".ui.page.activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.page.activity.MviActivity" />
        <activity android:name=".ui.page.activity.CommonActivity" />
        <activity
            android:name=".ui.page.activity.AccountManageActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.page.activity.ChooseProjectActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.page.activity.ConnectSetActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.page.activity.PaymentSyncActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.page.activity.VoidSyncActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.InputLoginInfoActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.InputBillRecipientActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.ProjectChooseActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.SelectQueryMethodActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.ReadIdCardActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.InputTelActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.InputRoomInfoActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.ChooseRoomActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.ChoosePaymentActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.ChoosePaymentMethodActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.ShowPayResultActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.ChooseReserveActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.InputAmountActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.InputManagePwdActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.ChooseOriginalPaymentMethodActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.InputVoucherNumberActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.ChoosePaymentReserveActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.ShowVoidResultActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.ChooseBillActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />


    </application>

</manifest>