<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.architecture.light">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.sunmi.idcard.permission.ACCESS_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme"
        tools:targetApi="31">

        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <activity
            android:name="com.architecture.light.ui.page.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.page.activity.MviActivity" />
        <activity android:name=".ui.page.activity.CommonActivity" />
        <activity
            android:name=".domain.transaction.action.activity.InputLoginInfoActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.InputBillRecipientActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.ProjectChooseActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.SelectQueryMethodActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.ReadIdCardActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.InputTelActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.InputRoomInfoActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.ChooseRoomActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.ChoosePaymentActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.ChoosePaymentMethodActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.ShowPayResultActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />


    </application>

</manifest>