<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.architecture.light">

    <!-- 网络相关 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 外部存储 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 安装权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 定位权限（用于 WebView 定位）-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme"
        tools:targetApi="31">

        <activity
            android:name=".ui.page.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.page.mvi.MviActivity" />
        <activity android:name=".ui.page.common.CommonActivity" />
        <activity android:name=".ui.page.common.BrowserActivity" />
        <activity android:name=".ui.page.paging.RepoActivity" />
        <activity android:name=".ui.page.nested.NestedActivity" />
        <activity android:name=".ui.page.nested.demo1.NestedDemo1Activity" />
        <activity android:name=".ui.page.nested.scrolling.NestedTraditionActivity" />
        <activity android:name=".ui.page.nested.scrolling.NestedScrolling2DemoActivity" />
        <activity android:name=".ui.page.nested.scrolling.NestedCoordinatorDemoActivity" />
        <activity android:name=".ui.page.nested.scrolling.NestedAppBarActivity" />
        <activity android:name=".ui.page.nested.scrolling.NestedCollapsingActivity" />
        <activity android:name=".ui.page.test.TestActivity" />
        <activity android:name=".domain.navigation.activity.NavigationActivity" />
        <activity
            android:name=".domain.transaction.action.activity.FirstActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.SecondActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".domain.transaction.action.activity.ThirdActivity"
            android:launchMode="singleTask"
            android:theme="@style/Anim_fade" />

    </application>

</manifest>